.navbar{
    background-color: rgb(67, 7, 102);
    
    padding: 5px;
}


#logo{
    width:140px;
    height:45px;
}
.login1{
    position: absolute;
    right:20vw;
}
.login2{
    position: absolute;
    right:10vw;
}


#nav-links1{
    color:white;
    font-size: 18px;
    margin-left: 30px;
}

#logout_icon{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 3px;
}
#home_icon1{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 4px;
}
.logout{
    position: absolute;
    right:10vw;
}

@media screen and (max-width: 430px) {
    .logout{
        position: relative;
        left:0px;
    }
    
}