.navbar{
    background-color: rgb(67, 7, 102);
    margin-bottom: 5px;
    padding: 5px;
}

#logo{
    width:140px;
    height:45px;
}
.login-signup{
    display: flex;
    margin-left: 750px;
}
.login-signup #signup{
    margin-left: 30px;
}

#home-link{
    margin-left: 20px;
    margin-right: 20px;
    color:white;
    font-size: 18px;
}
#login{
    color:white;
    font-size: 18px;
}
#signup{
    color:white;
    font-size: 18px;
}

