#footer p{
    text-align: center;
    padding: 10px;
    background-color: rgb(67, 7, 102);

    color: white;
    margin-bottom: 0px;
}
/* #footer{
  position: absolute;
  bottom:0px;
  width:100vw;
} */
