#dashboard_cards:hover{
    transform: translateY(2px);
}

#features{
  margin-left: 10px;
}
#main_row{
    margin-right: 0px;
}
.graph-title{
  text-align: center;
  margin: 20px 20px;
}
.graph-head{
  text-align: center;
  margin: 20px 20px;
  text-decoration: underline;
  font-weight: bold;
  text-transform: uppercase;
}
.bankname{
   text-align: center;
    margin:0 auto 40px;
    line-height: 60px;
    position: relative;
    color:black;  
    font-size: 30px;
    margin-top: 10px;
}
.bankname::after{
  content: '';
    background: #ff523b;
    width:80px;
    height:5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
}