#dashboard_cards:hover{
    transform: translateY(2px);
}

#sidebar{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}
#sidebar ul li a span:hover{
   color:black;
}

#features{
    margin-left: 10px;
}
#main_row{
    margin-right: 0px;
}
