.add_account_title{
    text-align: center;
    margin:0 auto 31px;
    line-height: 60px;
    position: relative;
    color:black; 
}

.add_account_title::after{
    content: '';
    background: #ff523b;
    width:80px;
    height:5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
}