h2{
    text-align: center;
    margin-top: 20px;
}

#transfer_row{
    margin-right: 0px;
}
#sidebar1{
    margin-left: 40px;
    margin-right: 30px;
    margin-bottom: 36px;
}
#sidebar1 ul li a span:hover{
   color:black;
}

#transfer_form{
    margin-top: 40px;
     
}

#transactions_charges{
    text-align: left;
    margin-bottom: 40px;
    margin-left: 5px;
}

#transfer_button{
  border-radius: 30px;
  width: 30%;
  height: 50px;
  font-size: 1.1rem;
  color: white;
  font-weight: 500;
  background: rgb(58, 12, 104);  
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
 
}


#transfer_button:hover{
    opacity: 0.8;
}

#alert{
    margin-left: 50px;
    margin-right: 50px;
}
#money_transfer_title{
    text-align: center;
    margin:0 auto 40px;
    line-height: 60px;
    position: relative;
    color:#555;  
    font-size: 30px;
}
#money_transfer_title::after{
    content: '';
    background: #ff523b;
    width:80px;
    height:5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
}